@use 'sass:map';
@import '../../styles/variables';
@import '../../styles/mixins';

.forecast-list {
  &__day {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
  }

  &__card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  &__time {
    font-weight: bold;
  }

  @include media-screen-down($sm) {
    &__card {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 11px;
      align-items: center;
    }

    &__weather-icon {
      height: 30px;
    }

    &__temperature {
      color: #555;
    }

    &__humidity {
      display: none;
    }

    &__description {
      font-weight: bold;
    }
  }

  @include media-screen-up($sm) {
    &__card {
      text-align: center;
      display: block;
    }

    &__weather-icon {
      height: 60px;
      margin: 15px 0;
    }

    &__time {
      padding: 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    &__temperature {
      margin-bottom: 20px;
      color: #555;
    }

    &__humidity {
      display: block;
      padding: 10px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    &__description {
      font-weight: normal;
      font-style: italic;
      color: #555;
      margin-bottom: 10px;
    }
  }
}

.h-mt-2 {
  margin-top: 10px;
}

.is-visible-mobile-only {
  display: block;

  @include media-screen-up($sm) {
    display: none;
  }
}

.is-hidden-mobile-only {
  display: none;

  @include media-screen-up($sm) {
    display: block;
  }
}