@use 'sass:map';
@import '../styles/variables';
@import '../styles/mixins';

.container {
  margin: 0 auto;
  padding: 0 10px;

  @include media-screen($sm, $xs) {
    max-width: map.get($container-max-widths, 'sm');
  }

  @include media-screen($md, $sm) {
    max-width: map.get($container-max-widths, 'md');
  }

  @include media-screen($lg, $md) {
    max-width: map.get($container-max-widths, 'lg');
  }

  @include media-screen-up($lg) {
    max-width: map.get($container-max-widths, 'xl');
  }
}

.search-city {
  padding: 20px 0;

  .form-search {
    input {
      width: 200px;
      padding: 5px 10px;
      margin-right: 10px;
    }
  }
}