@use 'sass:map';
@import './styles/variables';
@import './styles/mixins';

body {
  box-sizing: border-box;
}

h1 {
  color: $primary-color;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  .col {
    width: 100%;
    padding: 10px;

    @include media-screen($md, $sm) {
      width: calc((100%) / 2 - 20px);
    }

    @include media-screen($lg, $md) {
      width: calc((100%) / 3 - 20px);
    }

    @include media-screen-up($lg) {
      width: calc((100%) / 4 - 20px);
    }
  }
}

